﻿body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #EFEFEF url('../Images/main-bg.jpg') repeat;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}
/* =========================== Index posstion ========================*/
.wrap-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.row-index {
    width: 100%;
    margin: auto;
    text-align: center;
}

.registerError {
    height: 17px;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 5px;
    color: red;
    overflow: hidden;
}

    .registerError .error {
        display: block;
    }

.form-horizontal .control-group {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    float: left;
}

    .form-horizontal .control-group .control-label {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 150px;
        height: 20px;
    }

    .form-horizontal .control-group .controls {
        position: absolute;
        top: 5px;
        left: 170px;
        width: 450px;
        height: 30px;
    }
/*=============== định dạng hiển thị thông tin lên trang Details ====================*/
.box-contain {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    float: left;
}

    .box-contain .label {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 150px;
        height: 20px;
    }

    .box-contain .contain {
        position: absolute;
        top: 5px;
        left: 170px;
        width: 450px;
        height: 30px;
    }

/*=====================================Navigator========================================*/
#horizontalmenu ul {
    padding: 1;
    margin: 1;
    list-style: none;
}

#horizontalmenu li {
    float: left;
    position: relative;
    display: block;
    border-style: inset;
    margin-right: 15px;
    border: none;
}

    #horizontalmenu li ul {
        display: none;
        position: absolute;
    }

    #horizontalmenu li:hover ul {
        display: block;
        background: #000000;
        height: auto;
        width: 190px;
        text-align: left;
        padding: 10px;
    }

    #horizontalmenu li ul li {
        clear: both;
        border-style: none;
    }


.navbar-inverse {
    height: 50px;
}

    .navbar-inverse .navbar-inner {
        margin-top: 15px;
    }

        .navbar-inverse .navbar-inner .container {
            text-align: center;
        }

            .navbar-inverse .navbar-inner .container a {
                font-weight: bold;
                margin-right: 15px;
                color: #fff;
            }
/*============================INDEX===========================*/
.wrap-index {
    width: 100%;
}

.arrow-box label {
    display: inline-block;
    width: 300px;
    font-family: Arial;
    font-size: 16px;
    color: #000;
    text-align: right;
}

.total-all-panel {
    width: 335px;
    text-align: right;
    float: left;
    background-color: #fff;
    margin-right: 10px;
    padding-right: 20px;
}

.total-day-panel {
    width: 335px;
    text-align: right;
    float: left;
    background-color: #fff;
    padding-right: 20px;
}
