﻿@model Game_Admin_Panel.Answer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Answer</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.QuestionID, "QuestionID", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("QuestionID", String.Empty)
                @Html.ValidationMessageFor(model => model.QuestionID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.UserID, "UserID", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("UserID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.AnswerNumber, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.AnswerNumber)
                @Html.ValidationMessageFor(model => model.AnswerNumber, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ContestDayID, "ContestDayID", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("ContestDayID", String.Empty)
                @Html.ValidationMessageFor(model => model.ContestDayID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Duration, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Duration)
                @Html.ValidationMessageFor(model => model.Duration, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Score, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Score)
                @Html.ValidationMessageFor(model => model.Score, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

