﻿@model Game_Admin_Panel.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Question</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.QuestionContent, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.QuestionContent)
                @Html.ValidationMessageFor(model => model.QuestionContent, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Answer1, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Answer1)
                @Html.ValidationMessageFor(model => model.Answer1, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Answer2, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Answer2)
                @Html.ValidationMessageFor(model => model.Answer2, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Answer3, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Answer3)
                @Html.ValidationMessageFor(model => model.Answer3, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Answer4, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Answer4)
                @Html.ValidationMessageFor(model => model.Answer4, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.TopicID, "TopicID", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("TopicID", String.Empty)
                @Html.ValidationMessageFor(model => model.TopicID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Difficulty, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Difficulty)
                @Html.ValidationMessageFor(model => model.Difficulty, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CorrectAnswer, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CorrectAnswer)
                @Html.ValidationMessageFor(model => model.CorrectAnswer, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ContestDayID, "ContestDayID", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("ContestDayID", String.Empty)
                @Html.ValidationMessageFor(model => model.ContestDayID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Score, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Score)
                @Html.ValidationMessageFor(model => model.Score, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

