﻿@model IEnumerable<Object>
@{
    ViewBag.Title = "Home Page";
}

<div class="wrap-index">
    @*=========================Info total====================================*@
    <div class="total-all-panel">
        <h4>Số liệu của toàn chương trình</h4>
        <div class="arrow-box">
            <label>Tổng số người tham gia : </label>
            @ViewBag.tongthamgia
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời : </label> @ViewBag.hientai
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời đúng : </label> @ViewBag.dunghientai
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời sai : </label> @ViewBag.saihientai
        </div>
    </div>
    <div class="total-day-panel">
        <h4>Số liệu trong ngày</h4>
        <div class="arrow-box">
            <label>Tổng số người tham gia : </label> @ViewBag.tongthamgiangay
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời : </label> @ViewBag.trongngay
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời đúng : </label> @ViewBag.dungtrongngay
        </div>
        <div class="arrow-box">
            <label>Tổng số lượt trả lời sai : </label> @ViewBag.saitrongngay
        </div>
    </div>
</div>