﻿@using DevExpress.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#navigation a').stop().animate({ 'marginLeft': '-85px' }, 1000);

            $('#navigation > li').hover(
                function () {
                    $('a', $(this)).stop().animate({ 'marginLeft': '-2px' }, 200);
                },
                function () {
                    $('a', $(this)).stop().animate({ 'marginLeft': '-85px' }, 200);
                }
            );
        });
    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.Editors }
    )
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul id="horizontalmenu">
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="#">Quản lý data</a>
                        <ul class="nav-sub">
                            <li>@Html.ActionLink("Quản lý câu hỏi", "EditQuestion", "Home", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Quản lý câu trả lời", "EditAnswer", "Home", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Quản lý người dùng", "EditUser", "Home", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Quản lý cuộc thi", "EditContestDay", "Home", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Quản lý chủ đề", "EditTopic", "Home", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Quản lý giải thưởng", "EditPrize", "Home", null, new { @class = "brand" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Danh sách TOP</a>
                        <ul class="nav-sub">
                            <li>@Html.ActionLink("Top 5", "LayersTop5", "Admin", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Top 10", "LayersTop10", "Admin", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Top 50", "LayersTop50", "Admin", null, new { @class = "brand" })</li>
                            <li>@Html.ActionLink("Tất cả", "AllInfoUser", "Admin", null, new { @class = "brand" })</li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("PanelContestDay","Admin")">Chi tiết cuộc thi</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ManagerContestDay","Admin")">Top các người chơi từng cuộc thi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrap-container">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>

</body>
</html>
