﻿@model Game_Admin_Panel.Topic

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Topic", FormMethod.Post, new { id = "InforTopic", name = "InforTopic" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Topic</legend>
        <h2 class="text-title">Vui lòng nhập thông tin đầy đủ Chủ Đề của Câu Hỏi !</h2>
        <div class="registerError">
            @ViewBag.Error
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.TopicContent, "Chủ đề câu hỏi", new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.TopicContent)
                @Html.ValidationMessageFor(model => model.TopicContent, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CreatedOn, "Ngày tạo", new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

@section scripts{

    <script src="~/Scripts/jquery-ui-1.8.24.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CreatedOn").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1945:2013",
                showOn: 'focus',
                showButtonPanel: true,
                showOtherMonths: true,
                selectOtherMonths: true,

            });
        });

        $(function () {
            $('#InforTopic').validate({
                errorLabelContainer: $("div.registerError"),
                onkeyup: false,
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    $('div.registerError label:not(.error)').remove();
                }
            });

            $('#TopicContent').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải nhập nội dung chủ đề'
                }
            });
            $('#CreatedOn').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải chọn ngày tạo'
                }
            });

        });

    </script>
}
