﻿@model Game_Admin_Panel.ContestDay

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "ContestDay", FormMethod.Post, new { id = "InforContestDay", name = "InforContestDay" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>ContestDay</legend>
        <h2 class="text-title">Vui lòng nhập thông tin đầy đủ của ContestDay !</h2>
        <div class="registerError">
            @ViewBag.Error
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.UniqueID, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.UniqueID)
                @Html.ValidationMessageFor(model => model.UniqueID, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.NumberOfQuestions, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.NumberOfQuestions)
                @Html.ValidationMessageFor(model => model.NumberOfQuestions, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.IsDeleted, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

@section scripts{

    <script src="~/Scripts/jquery-ui-1.8.24.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#StartTime").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1945:2013"
            });
        });
        $(document).ready(function () {
            $("#CreatedOn").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1945:2013"
            });
        });

        $(function () {
            $('#InforContestDay').validate({
                errorLabelContainer: $("div.registerError"),
                onkeyup: false,
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    $('div.registerError label:not(.error)').remove();
                }
            });

            $('#Fullname').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải nhập họ tên'
                }
            });
            $('#Birthday').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải chọn ngày sinh'
                }
            });
            $('#Address').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải nhập địa chỉ'
                }
            });
            $('#PhoneNumber').rules('add', {
                required: true,
                number: true,
                minlength: 6,
                maxlength: 15,
                messages: {
                    required: 'Bạn phải nhập số điện thoại',
                    number: 'Số điện thoại không hợp lệ',
                    minlength: 'Số điện thoại không hợp lệ',
                    maxlength: 'Số điện thoại không hợp lệ'
                }
            });
            $('#Email').rules('add', {
                required: true,
                Email: true,
                messages: {
                    required: 'Bạn phải nhập địa chỉ Mail',
                    number: 'Địa chỉ Email không hợp lệ'
                }
            });
            $('#Username').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải nhập Username'

                }
            });
            $('#Password').rules('add', {
                required: true,
                minlength: 3,
                maxlength: 15,
                messages: {
                    required: 'Bạn phải nhập Password',
                    minlength: 'Password ít nhất phải 3 - 15 ký tự',
                    maxlength: 'Password không được nhiều hơn 15 ký tự'
                }
            });
            $('#CreatedOn').rules('add', {
                required: true,
                messages: {
                    required: 'Bạn phải chọn ngày tạo User'
                }
            });


        });

    </script>
}

