﻿@model IEnumerable<object>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="arrow-box">
    <label>Tổng số người chơi trong cuộc thi : </label> @ViewBag.totaluser
</div>
<div class="arrow-box">
    <label>Tổng số câu hỏi trong cuộc thi : </label> @ViewBag.totalquestion
</div>
<div class="arrow-box">
    <label>Tổng số câu trả lời trong cuộc thi : </label> @ViewBag.totalanswer
</div>
<h4>Các giải thưởng trong cuộc thi</h4>

@Html.Partial("PrizeByContestPartial", Model)


