﻿@model IEnumerable<Object>
@{
    ViewBag.Title = "LayersGetPrize";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@if (ViewBag.Error != null)
{
    <label class="error">@ViewBag.Error</label>
}
else if (ViewBag.Success != null)
{
    <label class="success">@ViewBag.Success</label>
}

@Html.Partial("PartialLayersGetPrize", Model)
