﻿@model IEnumerable<Object>
@{
    ViewBag.Title = "Infolayers Top 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@if (ViewBag.Error != null)
{
    <label class="error">@ViewBag.Error</label>
}
else if (ViewBag.Success != null)
{
    <label class="success">@ViewBag.Success</label>
}

@Html.Partial("PartialLayersTop10", Model)
